<div class="container" class="relative">
  
  <div class="secao">
    <h5 >Empreendedorize, um aplicativo feito para você empreendedor!</h5>
  </div>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  
<TABLE>
  <TR>
    <TD>
  <ul class="demo-3" routerLink="/criar">
      <li >
          <figure >
              <img src="/assets/icones/ideia.png" alt=""/>
              <figcaption >
                  <h2>Cadastrar plano de negócios!</h2>
                  <p>Teve uma idéia incrível? Registre aqui!</p>
              </figcaption>
          </figure>
      </li>
  </ul>
</TD>

<TD>
  <ul class="demo-3" routerLink="/consultar">
    <li>
        <figure>
            <img src="/assets/icones/lupa.png" alt=""/>
            <figcaption>
                <h2>Consultar plano de negócios!  </h2>
                <p>Consulte os seus planos de negócios e prossiga com suas ideias!</p>
            </figcaption>
        </figure>
    </li>
</ul>
  </TD>
</TR>

<TR>
  <TD>
<ul class="demo-3" routerLink="/alterar">
    <li>
        <figure>
            <img src="/assets/icones/editar.png" alt=""/>
            <figcaption>
                <h2>Alterar plano de negócios!</h2>
                <p>Altere o nome do seu plano conforme surgem suas ideias.</p>
            </figcaption>
        </figure>
    </li>
</ul>
</TD>

<TD>
<ul class="demo-3" routerLink="/vincular">
    <li>
        <figure>
            <img src="/assets/icones/partilhar.png" alt=""/>
            <figcaption>
                <h2>Vincular plano de negócios!</h2>
                <p>Compartilhe seu plano de negócios com outros usuários!</p>
            </figcaption>
        </figure>
    </li>
</ul>
</TD>
</TR>


<ul class="demo-3" routerLink="/excluir">
    <li >
        <figure>
            <img class="displayed" src="/assets/icones/excluir.png"  alt=""  />
            <figcaption>
                <h2>Excluir plano de negócios!</h2>
                <p>Apague seus planos de negócios que não tiveram sucesso! :(</p>
            </figcaption>
        </figure>
    </li>
</ul>

  </TABLE>



</div>
